@font-face {
	font-family: 'Authentic 130';
	src: url(fonts/AUTHENTICSans-130.woff) format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Authentic 90';
	src: url(fonts/AUTHENTICSans-90.woff) format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Authentic 60';
	src: url(fonts/AUTHENTICSans-60.woff) format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Faktory';
	src: url(fonts/faktory.otf);
}

:root {
	--primary-font: 'Authentic 60', sans-serif;
	--title-font: 'Authentic 130', sans-serif;
	--link-font: 'Authentic 90', sans-serif;
	--header-font: 'Faktory', sans-serif;
	--text-color: #000000;
	--secondary-color: #1aff00;
	--fade-in-effect: fadein 400ms;
	color: var(--text-color);
	font-size: calc(0.5em + 1vw);
	letter-spacing: 0.025em;
	line-height: 1.15em;
	cursor: default;
	font-family: var(--primary-font);
	-webkit-animation: var(--fade-in-effect);
	-moz-animation: var(--fade-in-effect);
	-ms-animation: var(--fade-in-effect);
	-o-animation: var(--fade-in-effect);
	animation: var(--fade-in-effect);
}

::selection {
	background: #fcc5ff;
	color: #fff;
}

* {
	box-sizing: border-box;
}

html {
	line-height: 1.2em;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	padding: 0;
	margin: 0;
}

body {
	height: 100vh;
	margin: 0 1rem;
	overflow-y: hidden;
}

header {
	width: 100%;
	text-transform: uppercase;
	border-bottom: 1px dotted;
	font-family: var(--header-font);
	background-color: #ffffff;
	position: relative;
	top: 0;
	z-index: 10;
}

header span {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

main {
	display: grid;
	grid-template-columns: 1fr 540px;
	overflow: hidden;
	height: 100vh;
	cursor: ns-resize;
}

a {
	color: var(--text-color);
	font-family: var(--link-font);
}

.content--text {
	overflow-y: scroll;

	margin: 0 0.5rem;
	padding-bottom: 6rem;
}

.content--text p {
	text-align: justify;
	word-break: keep-all;
}

.content--title {
	text-transform: uppercase;
	display: grid;
	grid-template-columns: max-content 1fr;
	margin: 2.5rem 0 0 0;
	word-wrap: break-word;
}

.content--title h1 {
	font-family: var(--title-font);
	font-size: 3.25rem;
	margin: 0;
}

.content--title p {
	grid-column: 2;
	grid-row: 1;
	margin: 0;
	font-family: var(--title-font);
	font-size: 1.4rem;
	transform: translateY(-0.8rem);
}

.content--title p + h1 {
	font-family: var(--primary-font);
	font-size: 3.25rem;
	margin: 2rem 0;
}

nav {
	font-size: 0.75rem;
	line-height: 1rem;
}

nav a {
	border: 1px solid var(--text-color);
	text-decoration: none;
	padding: 6px 4px;
}

nav a:hover {
	background-color: #000000;
	color: #ffffff;
}

a.link--inline {
	text-decoration: underline;
	padding: 0;
	border: none;
}

a.link--inline:hover {
	color: var(--text-color);
	background-color: var(--secondary-color);
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0 0 1.25rem 0;
}

nav a + ul {
	margin: 1.25rem 0 2rem 0;
}

.content--description {
	line-height: 1.25rem;
}

.content--footer ul {
	list-style: none;
	margin: 1rem 0 2rem 0;
	padding: 0;
	font-size: 0.85rem;
}

a.link--button {
	font-size: 0.75rem;
	text-decoration: none;
	padding: 6px 4px;
	margin: 2rem 0 4rem 0;
	text-align: center;
	border: 1px solid var(--text-color);
}

a.link--button:hover {
	color: #FFFFFF;
	background-color: var(--text-color);
}

/* .content--img {
	position: fixed;
	top: 4.5rem;
	right: 1rem;
} */

.content--img {
    position: inherit;
    overflow-y: scroll;
    margin: 0 10px;
}


.content--img img:nth-of-type(1) {
margin-top: 1.5rem;
}
.content--img img:last-child {
margin-bottom: 4rem;
}

.content--img img {
	width: 520px;
	height: auto;
}

#mobile-only {
	display: none;
}

@media (max-width: 1324px) {

.content--title h1, .content--title p + h1  {
	font-size: 2rem;
}
.content--title p {
	font-size: 0.8rem;
    transform: translatex(-1rem);
}
.content--title p + h1 {
	margin: 1rem 0;
}
}
@media (max-width: 1028px)
 {
	main {
	grid-template-columns: 1fr 340px;
}

.content--img img {
	width: 320px;
	height: auto;
}

}

@media (max-width: 740px)
 {
	#mobile-only {
		display: block;
		width: 100%;
		margin-top: 1rem;
	}

.content--text {
	grid-column: 1/3;
}

.content--img {
display: none;
}

}